<div *ngIf="ticket_list">
  <table>
  <tr *ngFor="let sub_arr of ticket_list">
        <td *ngFor="let ticket of sub_arr">
            <button *ngIf="ticket.reservation!=null" class="btn" [style.background-color]="ticket.checkedIn ? 'blue':'red'">{{ticket.seat}}</button>
            <button *ngIf="ticket.reservation==null" class="btn" (click)="select_seat(ticket.seat)" [style.background-color]="selected_tickets.includes(ticket.seat) ? 'green':'grey'">{{ticket.seat}}</button>
        </td>
    </tr>
  </table>
  <div>Total Cost: {{price}}</div>
    <button (click)="make_reservation()">Make Reservation</button>
</div>
