<table>
  <tr><td>
<a routerLink="" class="btn btn-primary">Home</a>
  </td>
    <span *ngIf="check_user()">
  <td *ngIf="check_user_role().includes('USER')">
    <a routerLink="/reservations" class="btn btn-primary">Reservations</a>
  </td>
  <td *ngIf="check_user_role().includes('ADMIN')">
    <a routerLink="/shows" class="btn btn-primary">Shows</a>
  </td>
  <span *ngIf="check_user_role().includes('SYSTEM_ADMIN')">
    <td>
    <a routerLink="/auditoriums" class="btn btn-primary">Auditoriums</a>
    </td>
    <td>
    <a routerLink="/users" class="btn btn-primary">Users</a>
    </td>
  </span>
    </span>
    <td>
      <a routerLink="login" *ngIf="!check_user()" class="btn btn-primary">Login</a>
    </td>
    <td>
      <button (click)="logout()" *ngIf="check_user()">Logout</button>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>

