<input type="email" [(ngModel)]="email">
<input type="password" [(ngModel)]="password">
<div id="buttonDiv"></div>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<a routerLink="register">Register</a>
<div *ngIf="check_user()">Logged In as role: 
<img [src]="imageSrc" width="200" height="300">
<div *ngIf="check_user_role().includes('USER')">User:<br>
    <a routerLink="/reservations">Reservations</a>
</div>
<div *ngIf="check_user_role().includes('ADMIN')">Admin:<br>
    <a routerLink="/shows">Shows</a>
</div>
<div *ngIf="check_user_role().includes('SYSTEM_ADMIN')">System Admin<br>
    <a routerLink="/auditoriums">Auditoriums</a>
    <a routerLink="/users">Users</a>
</div>
</div>
<router-outlet></router-outlet>
